@charset "utf-8";
body,td,th {
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}
a:visited {
	color: #000;
	text-decoration:underline;
}
a:hover {
	color: #000;
	text-decoration:underline;
}